
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
    box-sizing: border-box;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
}

.nav-button {
    color: white;
    padding: 8px 18px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px 8px;
    /* transition-duration: 0.4s; */
    cursor: pointer;
    color: white; 
    border-radius: 8px;
    transition: all 0.2s;
    background-color:#B3B5BB;
    font-family: 'Roboto Mono', monospace;
    border: none;
}

.nav-button:hover {
    background-color:#929496;
}
